/* Villanelle Specific Styles */
.poem-content {
    font-size: 1.25rem;
    line-height: 2;
    text-align: center; /* Center the content */
}

.poem-meta {
    font-size: 0.875rem;
    color: #666;
}

/* Villanelle Header */
h1 {
    font-size: 2rem;
    color: #333;
    font-weight: 700;
}

h2 {
    color: #666;
    font-size: 1.25rem;
}

.poem-content p {
    margin-bottom: 1.5rem;
}
